<div class="row">
  <div class="columns large-6 mediumlarge-6 medium-8 medium-centered">
    <div class="social-register">
      <%= link_to new_user_cas_session_path, class: "button button--social button--#{normalize_provider_name("SomEnergia")}" do %>
        <span class="button--social__icon">
          <%= image_tag "decidim/cas_client/somenergia-icon.png", class: "icon" %>
        </span>
        <%= I18n.t("devise.shared.links.sign_in_with_provider", provider: normalize_provider_name("SomEnergia").titleize) %>
      <% end %>
    </div>
  </div>
</div>
