<section class="footer__subhero extended subhero home-section">
  <div class="row">
    <div class="columns small-centered medium-8">

      <h6><%== t("decidim.pages.home.footer_sub_hero.footer_sub_hero_body") %></h6>

    </div>
  </div>
</section>
